@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
	--light-grey-transparent: #EEEEEE59;
	--light-grey-transparent--hover: #eeeeeea2;
	--light-pink-transparent--selected: #ee739cdb;
	--light-pink-transparent--selected--hover: #fb9ebd;
}

* {
	font-family: 'Noto Sans', sans-serif;
	color: #333;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

.panel-container {
	display: flex;
	height: 600px;
	width: 800px;
	overflow: hidden;

background-image:
		linear-gradient(45deg, rgba(238, 115, 156, 0.53) 0%, rgba(238, 115, 156, 0.53) 14.286%,
			rgba(218, 123, 168, 0.53) 14.286%, rgba(218, 123, 168, 0.53) 28.572%,
			rgba(197, 131, 181, 0.53) 28.572%, rgba(197, 131, 181, 0.53) 42.858%,
			rgba(176, 140, 193, 0.53) 42.858%, rgba(176, 140, 193, 0.53) 57.144%,
			rgba(155, 148, 205, 0.53) 57.144%, rgba(155, 148, 205, 0.53) 71.43%,
			rgba(134, 157, 217, 0.53) 71.43%, rgba(134, 157, 217, 0.53) 85.716%,
			rgba(113, 165, 229, 0.53) 85.716%, rgba(113, 165, 229, 0.53) 100%),
		linear-gradient(135deg, rgb(238, 115, 156) 0%, rgb(238, 115, 156) 12.5%,
			rgb(223, 122, 169) 12.5%, rgb(223, 122, 169) 25%,
			rgb(208, 130, 181) 25%, rgb(208, 130, 181) 37.5%,
			rgb(193, 137, 194) 37.5%, rgb(193, 137, 194) 50%,
			rgb(178, 145, 206) 50%, rgb(178, 145, 206) 62.5%,
			rgb(163, 152, 219) 62.5%, rgb(163, 152, 219) 75%,
			rgb(148, 160, 231) 75%, rgb(148, 160, 231) 87.5%,
			rgb(122, 200, 230) 87.5%, rgb(122, 200, 230) 100%);
}

.panel-frame {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: calc(100% - 30px);
	height: 100%;
	padding: 0.75rem;
	position: relative;

	& .panel-header {
		display: flex;
		width: 100%;
		height: 40px;
		border: 1px solid #A6A6A625;
	}

	& .panel-content {
		display: flex;
		width: 100%;
		height: 490px;
		background: var(--light-grey-transparent);
		border: 3px solid var(--light-grey-transparent);
		border-radius: 0.75rem;
		backdrop-filter: blur(10px);
		filter: drop-shadow(0px 2px 2px #04015859);
	}

	& .panel-footer {
		display: flex;
		width: 100%;
		height: 20px;
		border: 1px solid #A6A6A625;
		padding-inline: 0.75rem;
		font-size: 0.75rem;
	}
}

.panel-tab-button {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding-inline: 0.75rem;
	background: var(--light-grey-transparent);
	border: 3px solid var(--light-grey-transparent);
	border-radius: 0.35rem;
	backdrop-filter: blur(10px);
	filter: drop-shadow(0px 2px 2px #04015859);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	

	&:hover {
		background: var(--light-grey-transparent--hover);
	}

	&.active {
		color: aliceblue;
		font-size: 1rem;
		font-weight: bold;
		background: var(--light-pink-transparent--selected);
		&:hover {
			background: var(--light-pink-transparent--selected--hover);
		}
	}
}